/* IMPORTAR FUENTES */
@font-face {
    font-family: 'DS-DIGIT';
    src: url('./assets/fonts/crono/DS-DIGIB.TTF') format('truetype'); /* URL de la fuente en tu servidor */
}
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

/* ESTILOS */
body * {
    user-select: none;
    -webkit-user-drag: none;
}

body {
    font-family: 'Poppins', Arial, sans-serif;
    margin-inline: auto;
    width: 98%;
    font-weight: 400;
    text-align: center;
    background-color: black; 
    color: #0f0;
    /* filter: drop-shadow(0 0 10px #0f0); */
}
h1 {
    text-shadow: 0 0 10px #0f0;
    text-align: center;
    font-weight: 600;
    font-size: 35px;
}
h2 {
    text-shadow: 0 0 8px #0f0;
    font-size: 30px;
    margin-top: 45px;
}
.titular {
    margin-top: 20px;
    margin-bottom: 20px;
  }
.pista {
    display: none;
    padding: 20px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.pista > p{
text-align: center;
}
.content-icon img {
    cursor: pointer;
}
.ganaste {
    display: none;
    margin-top: 10rem;
    font-size: 24px;
    color: #fc0;
    text-shadow: 0 0 10px #fc0;
}
.ganaste > button {
    color: #fc0;
    border: 2px solid #fc0;
}
.ganaste > button:hover {
    color: #000;
    border: 2px solid #fc0;
    background-color: #fc0;
}
input, button {
    background: black;
    color: #0f0;
    outline: none;
    border: 2px solid #0f0;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
button:hover {
    background: #0f0;
    color: black;
    cursor: pointer;
}
p {
    font-size: 18px;
}

.box {
    min-height: 100px;
}
.main-box {
    min-height: 400px;
}
.lock {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 190px;
    margin: auto;
}
.codigo-parcial {
    position: absolute;
    font-size: 32px;
    font-weight: bold;
    margin-top: 70px;
}
#cronometro {
    font-family: 'DS-DIGIT', monospace;
    font-size: 70px;
    margin-top: -10px;
}

.icono-contenido {
    width: 40px;
    height: 40px;
    background-color: #28a745;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 24px;
    margin: auto;
}

/* SELECCION DE EQUIPO */
.seleccion_equipo {
    width: 80%;
    margin: auto;
}

.container_seleccion_equipo {
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 10px;
}

.container_seleccion_equipo .equipo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    overflow: hidden;
    width: 0px;
    height: 78vh;
    flex-grow: 1;
    opacity: 0.8;
    object-fit: cover;
    transition: all ease-in-out 0.5s;
}

.equipo > * {
    animation: neonBlink 1s infinite alternate;
}

/* .equipo img {
    animation: neonBlink 1s infinite alternate;
} */

.container_seleccion_equipo .equipo:hover {
    width: 35%;
    cursor: pointer;
}

/* ANIMACIONES */
@keyframes neonBlink {
    0%, 100% {
        filter: drop-shadow(0 0 10px #0f0) drop-shadow(0 0 20px #0f0);
        opacity: 1;
    }
    50% {
        filter: drop-shadow(0 0 5px #0f0) drop-shadow(0 0 10px #0f0);
        opacity: 0.6;
    }
}